# Terraform variables for the production environment.
GCP_PROJECT_ID="robot-fleet-your-unique-name"
GCP_REGION="us-central1"
TF_VAR_backend_image=""
TF_VAR_web_image=""

TF_VAR_cloud_vendor="google"
TF_VAR_gcp_project_id="${GCP_PROJECT_ID}"
TF_VAR_gcp_region="${GCP_REGION}"
