# Terraform variables for the test environment.
PROJECT_UNIQUE_ID="00000001"
GCP_PROJECT_ID="robot-fleet-${PROJECT_UNIQUE_ID}"
GCP_SIMULATOR_PROJECT_ID="robot-fleet-sim-test-${PROJECT_UNIQUE_ID}"
REPO="satr/robot-fleet"
GCP_REGION="us-central1"
GCP_BILLING_ACCOUNT="000000-000000-000001"
SIMULATOR_MQTT_URL="wss://robot-fleet-test-backend-${PROJECT_UNIQUE_ID}-uc.a.run.app"
GCP_SIMULATOR_WIF_POOL_ID="github"
GCP_SIMULATOR_WIF_PROVIDER_ID="github"
GCP_SIMULATOR_DEPLOY_SERVICE_ACCOUNT_ID="github-simulator-deployer"
TF_VAR_backend_image=""
TF_VAR_web_image=""

TF_VAR_cloud_vendor="google"
TF_VAR_gcp_project_id="${GCP_PROJECT_ID}"
TF_VAR_gcp_region="${GCP_REGION}"
