# Terraform variables for the production environment.
PROJECT_UNIQUE_ID="00000001"
GCP_PROJECT_ID="robot-fleet-${PROJECT_UNIQUE_ID}"
GCP_SIMULATOR_PROJECT_ID="robot-fleet-sim-prod-${PROJECT_UNIQUE_ID}"
REPO="satr/robot-fleet"
GCP_REGION="us-central1"
# gcloud billing accounts list
GCP_BILLING_ACCOUNT="000000-000000-000001"
#Use following command to get the value for the SIMULATOR_MQTT_URL
#gcloud run services describe robot-fleet-prod-mqtt \
#    --project "robot-fleet-${PROJECT_UNIQUE_ID}" \
#    --region "${GCP_REGION} \
#    --format='value(status.url)' |
#    sed 's#^https://#wss://#'
SIMULATOR_MQTT_URL=""
GCP_SIMULATOR_WIF_POOL_ID="github"
GCP_SIMULATOR_WIF_PROVIDER_ID="github"
GCP_SIMULATOR_DEPLOY_SERVICE_ACCOUNT_ID="github-simulator-deployer"
TF_VAR_backend_image=""
TF_VAR_web_image=""
POSTGRES_USERNAME="robot_fleet"
# generate passwords with: python3 -c "import secrets; print(secrets.token_urlsafe(24))"
POSTGRES_PASSWORD=""
MQTT_USERNAME="mqtt_user"
MQTT_PASSWORD=""

TF_VAR_cloud_vendor="google"
TF_VAR_gcp_project_id="${GCP_PROJECT_ID}"
TF_VAR_gcp_region="${GCP_REGION}"
