# Terraform variables for the production environment.
GCP_PROJECT_ID="robot-fleet-00000001"
REPO="satr/robot-fleet"
GCP_REGION="us-central1"
GCP_BILLING_ACCOUNT="000000-000000-000001"
TF_VAR_backend_image=""
TF_VAR_web_image=""

TF_VAR_cloud_vendor="google"
TF_VAR_gcp_project_id="${GCP_PROJECT_ID}"
TF_VAR_gcp_region="${GCP_REGION}"
